.singleordercontainer {
	display: flex;
	flex-direction: row;

	.singleordertable {
		padding: 0px 10px 0px 0px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.invoiceform {
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 2;
	}
}
