.singleordercontainer {
	display: flex;
	flex-direction: row;

	.singleordertable {
		padding: 20px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.invoiceform {
		padding: 20px;
		display: flex;
		flex-direction: column;
		flex-grow: 2;
	}
}
