$green-button: #6aeb6f;
$main-purple: #743794;

.singleordercontainer {
	display: flex;
	flex-direction: row;

	.singleordertable {
		padding: 0px 10px 0px 0px;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}
	.invoiceform {
		padding: 0;
		display: flex;
		flex-direction: column;
		flex-grow: 2;
	}
}

.google {
	width: 50px;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
}

.eheader {
	background: #fbfbfb;
	font-weight: bold;
	color: $main-purple;
	height: 31px;
	padding: 5px;
}

.emailboard {
	display: flex;
	flex-direction: row;
	align-content: stretch;
	height: 400px;
	padding: 0;
}

.emailsubject {
	-webkit-flex: 1;
	flex: 1;
	min-width: 200px;
	background: white;
	min-height: 100%;
	overflow: scroll;
}

.emailcontent {
	background: white;
	min-height: 100%;
	flex-grow: 5;
}

.emailcontentdetails {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 90%;
	overflow: scroll;
	font-size: 13px;
}

.attachements {
	height: 10%;
	width: inherit;
	border: 1px black solid;
}

.emailSummary {
	font-size: 13px;

	.subheader {
		font-weight: bold;
	}
}

.invoicebuttons {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	min-height: 30vh;
	padding: 10px;
	background-color: white;
	margin: 0px 0px 10px 0px;
}

.singleOrderServices {
	padding: 10px;
	background-color: white;
	margin: 0px 0px 10px 0px;
}

.commentbox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	background: white;

	.ant-comment-content-author-name {
		color: $main-purple;
		font-weight: bold;
	}
}

.commentform {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.commentinput {
	width: 60%;
	border: 1px solid #303030;
	border-radius: 0.25rem;
}

.sectionHeader {
	font-size: 20px;
	font-weight: bold;
	font-style: normal;
	padding: 0;
	height: 37px;
	margin: 0;
}

.order-descriptions {
	.ant-descriptions-title {
		background: #fbfbfb;
		color: $main-purple;
		height: 31px;
		padding: 5px;
	}
}

.select-and-button {
	display: flex;
	flex-direction: row;
	padding: 0px 10px;
}
